body {
	font-family: "Roboto", monospace;
	text-align: justify;
	background-color: #D9D9D9;
}
h1 {
	width: 55%;
	margin-left: 45%;
	margin-top: 5%;
}
h2 {
	width: 55%;
	margin-left: 45%;
}
#homepage > h2:nth-child(3) > a:nth-child(1) {
	text-decoration: none;
}
h3 {
	width: 55%;
	margin-left: 45%;
}
ul {
	width: 55%;
	display: block;
	margin-left: 40%;
}
li {
	margin-top: 1%;
	margin-left: 20%;
}
p {
	max-width: 55%;
	font-size: 1.2em;
	margin-right: 2%;
}
#homepage > p:nth-child(2){
	margin-left: 45%;
}

img {
	position: absolute;
	margin-top: 3%;
	top: 5%;
	left: 5%;
	width: 35%;
	display: inline;
	margin-bottom: 5%;
	padding-bottom: 5%;
	
}

.inline {
	display: inline;
}

.link-button {
	margin-top: 3%;
	padding: 2%;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: -3%;
	border-radius: 20%;
	border-style: groove;
}

.link-button:focus {
	outline: none;
}

.link-button:active {
	color:red;
}
